
@{
    //Layout = _Layout.cs;

}

<form method="post">
    <input type="text" name="name" value="Cheese Name"/>
    <input type="text" name="description" value="Cheese Description"/> 
    <input type ="submit" value="Add Cheese" />
</form>

