
@{
//Layout = _Layout.cs;

}



<form method="post">
    <input type="text" name="name" placeholder=" Name"/>
    <input type="text" name="description" placeholder="Description"/> 
    <input type ="submit" value="Add Cheese" />

</form>

