<h1>@ViewBag.title</h1>


    <form method="post">
        <select name="cheeseId">
            
            @foreach (var cheese in ViewBag.cheeses)
            {
            <option value="@cheese.CheeseId"> @cheese.Name</option>
            }
        </select>
            <input type="submit" value="Delete Cheese" />

        </form>