
@{
    Layout = null;
}
    <form name="delSelect" method="post">
        <select name="cheese">
            @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
            {
                <option value=@cheese.Key> @cheese.Key</option>
            }
        </select>
            <input type="submit" value="Delete Cheese" />

        </form>