

    <form name="delSelect" method="post">
        <select name="cheeseId">
            @foreach (var cheese in ViewBag.cheeses)
            {
                <option name="@cheese.Name" id="@cheese.CheeseId" value="@cheese.CheeseId"> @cheese.Name</option>
            }
        </select>
            <input type="submit" value="Delete Cheese" />

        </form>