
@{



}

<h1>My Cheese</h1>
<p>
    <a asp-controller="Cheese" asp-action="Add">Add Cheese </a><br />
    <a asp-controller="Cheese" asp-action="Remove">Remove Cheese </a>
</p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}


<ul>
    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {

        <li>@cheese </li>

    }
</ul>

<h1> Remove Cheeses</h1>
@foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
{
    <form name="cheeseToDelete" method="post" action="simpleform.asp">
        
        <input type="checkbox" name="@cheese.Key " />  @cheese.Key
        <input type="button" value="Delete Cheeses" />
    </form>
}




