
@{
    Layout = null;
}


<h1> Remove Cheeses</h1>
<form name="cheeseToDelete" method="post">
    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {

        <input type="checkbox" name="cheese" value="@cheese.Key" />  @cheese.Key
    }
        <input type="submit" value="Delete selected cheeses" />
    
    </form>

<p>hola </p>