
@{
    Layout = null;
}


<form name="cheeseToDelete" method="post">
    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {
        <input type="checkbox" name="cheese" value=@cheese /> @cheese.Key
    }
    <input type="submit" value="Delete Cheeses" />

</form>


